<div class="header-container no-pad">
	<div class="col-xs-12 col-md-4 exam-status-details-parent">
		<div class="exam-status-details-text">Exam status</div>
		
		<ul class="exam-status-details" ng-cloak>
			<li ng-repeat="(statusKeyName, statusDetails) in globalExamStatus.examStatusDetail"><span>{{statusKeyName}}</span> {{statusDetails}}</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">Institute For Advanced Studies (IFAS)</div>
	<div class="col-xs-12 col-md-4">Time Remaining : 02:58:39</div>
</div>