<div class="footer-container container no-pad">
    <div class="col-xs-12 col-md-3 prev-question"><a class="btn btn-primary" ng-disabled="page1Footer.isFirstQuestionShowing" ng-click="page1Footer.showPrevQuestion()">&lt;&lt;</a></div>
    <div class="col-xs-12 col-md-3 mark-for-review">
        <a class="btn btn-primary" ng-click="page1Footer.modifyQuestionDetails('isMarked')">Mark for Review</a>
    </div>
    <div class="col-xs-12 col-md-3 submit-answers"><a class="btn btn-primary" href="#/submit">Submit</a></div>
    <div class="col-xs-12 col-md-3 next-question"><a class="btn btn-primary" ng-disabled="page1Footer.isLastQuestionShowing" ng-click="page1Footer.showNextQuestion()">&gt;&gt;</a></div>
</div>